{
	FilesToRename = {
		"main.c" = "«PROJECTNAME».c";
		"TemplateMaxExternal.xcodeproj" = "«PROJECTNAME».xcodeproj";
	};
	FilesToMacroExpand = (
		"maxmspsdk-debug.xcconfig",
		"maxmspsdk-release.xcconfig",
		"«PROJECTNAME».c",
		"«PROJECTNAME».xcodeproj/project.pbxproj"
	);
	Description = "This project builds a Max external object in C.";
}
